<ion-header-bar align-title="left" class="bar-dark">
  <div class="h1 title">微信(16)<span style="text-align: center; width: 100%; float: none">【{{userModel.userName}}】</span></div>
  <div class="buttons">
    <button class="button no-animation button-icon icon ion-android-search">
    </button>
    <button class="button no-animation button-icon icon ion-android-add">
    </button>
  </div>
</ion-header-bar>

<ion-view>
  <ion-content on-swipe-left="onSwipeLeft()">
    <ion-list rj-close-back-drop>
      <ion-item class="item-avatar" ng-class="{'rj-item-top': chat.isTop}" on-hold="popupMessageOpthins(message)"
                rj-hold-active ng-repeat="chat in chats | orderBy:['isTop']:false"
                ng-click="toMessage(chat.id, userModel.userId, userModel.userName, $index)">
        <img ng-if="userModel.userId == chat.auserId" ng-src="{{chat.buserPic}}" ng-init="friendId=chat.buserId">
        <img ng-if="userModel.userId == chat.buserId" ng-src="{{chat.auserPic}}" ng-init="friendId=chat.auserId">
        <span ng-if="userModel.userId == chat.auserId" class="rj-sm-red-icon" ng-show="chat.noReadMsgNum != 0"><p ng-bind="chat.noReadMsgNum"></p></span>
        <span ng-if="userModel.userId == chat.buserId" class="rj-sm-red-icon" ng-show="chat.noReadMsgNum != 0"><p ng-bind="chat.noReadMsgNum"></p></span>
        <h2 ng-if="userModel.userId == chat.auserId" ng-bind="chat.buserName"></h2>
        <h2 ng-if="userModel.userId == chat.buserId" ng-bind="chat.auserName"></h2>
         -{{userModel.userId}}={{chat.auserId}}*{{chat.buserId}}*{{caht.auserShowHints}}//{{caht.buserShowHints}}#{{caht.noReadMsgNum}}
        <p class="rj-list-p" ng-bind="chat.lastMessage.content"></p>
        <span class="rj-push-right" ng-bind="chat.lastMessage.time"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
