<ion-header-bar align-title="left" class="bar-dark">
  <div class="h1 title">微信(16)</div>
  <div class="buttons">
    <button class="button no-animation button-icon icon ion-android-search">
    </button>
    <button class="button no-animation button-icon icon ion-android-add">
    </button>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content on-swipe-left="onSwipeLeft()">
    <ion-list rj-close-back-drop>
      <ion-item class="item-avatar" ng-class="{'rj-item-top': chat.isTop}" on-hold="popupMessageOpthins(message)"
                rj-hold-active ng-repeat="chat in chats | orderBy:['isTop', 'timeFrome1970']:false"
                ng-click="toMessage(chat)">
        <img ng-src="{{chat.friendPic}}">
        <span class="rj-sm-red-icon" ng-show="chat.showHints"><p ng-bind="chat.noReadMessages"></p></span>
        <h2 ng-bind="chat.friendName"></h2>
        <p class="rj-list-p" ng-bind="chat.lastMessage.content"></p>
        <span class="rj-push-right" ng-bind="chat.lastMessage.time"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
